<!DOCTYPE html>
<html>
    <head>
        <title>Record voice and stream to server</title>
    </head>

    <!--script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"></script-->
    <script type="text/javascript" src="{{ url_for('static', filename='/js/MediaStreamRecorder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/js/recordingService.js') }}"></script>

    <body>
        <div class="page">
        <p id="msg">Attempting to record voice...</p>
        <p id="ws">Websocket: {{webSocketServerURL}}</p>
        <button click="connectToServer()">Start</button>
        </div>
    </body>
</html>